:root {
  /* Core Color Variables - Light Theme */
  --color-bg: #ebf1ff;
  /* #f4f7fe */
  --color-bg-secondary: #EEF4FF;
  --color-card: #f6f9fd;
  --color-primary: #2563EB;

  /* --color-card: #FFFFFF;
  --color-primary: #2563EB; */
  --color-primary-hover: #1D4ED8;
  --color-text:#0F172A;
  --color-text-secondary: #64748B;
  --color-text-muted: #94A3B8;
  /* #7a32df */
  --color-border: #e0d2ea;
  --color-border-hover: #000000;
  --color-input: #dcd8e6;
  --color-focus: #7d2cc4;
  --color-focus-ring: rgba(59, 130, 246, 0.2);
  
  /* State Colors */
  --color-success: #10B981;
  --color-warning: #F97316;
  --color-error: #EF4444;
  --color-destructive: var(--color-error);
  
  /* Component Colors */
  --color-muted: #cfe3fa;
  --color-muted-foreground: #424044;
  --color-accent: #F59E0B;
  --color-accent-foreground: #0f172a;
  
  /* Gradient Colors #e0f2fe */
  --color-gradient-from: #ebf8ff;
  --color-gradient-to: #ccf3f6;
  
  /* Theme tokens used by Tailwind */
  --background: var(--color-bg);
  --background-secondary: var(--color-bg-secondary);
  --foreground: var(--color-text);
  --card: var(--color-card);
  --border: var(--color-border);
  --input: var(--color-input);
  --ring: var(--color-focus);
  --primary: var(--color-primary);
  --secondary: var(--color-muted);
  --accent: var(--color-accent);
  --muted: var(--color-muted);
  --muted-foreground: var(--color-muted-foreground);
  --accent-foreground: var(--color-accent-foreground);
  --destructive: var(--color-destructive);
  --success: var(--color-success);
  --warning: var(--color-warning);
  --error: var(--color-error);
}

.dark {
  /* Core Color Variables - Dark Theme */
  --color-bg: #1e1e1e;
  --color-bg-secondary: #2c2c2d;
  --color-card: #2d2d2d;
  --color-text: #cfd6dc;
  --color-text-secondary: #b5b7b9;
  --color-text-muted: #94a3b8;
  --color-primary: #044cb8;
  --color-primary-hover: #1391ad;
  --color-border: #334155;
  --color-border-hover: #475569;
  --color-input: #1e293b;
  --color-focus: #60a5fa;
  --color-focus-ring: rgba(96, 165, 250, 0.2);
  
  /* State Colors - Dark versions */
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #f87171;
  --color-destructive: var(--color-error);
  
  /* Component Colors - Dark versions */
  --color-muted: #444345;
  --color-muted-foreground: #c7cacd;
  --color-accent: #0c65ea;
  --color-accent-foreground: #bed319;
  
  /* Gradient Colors - Dark versions */
  --color-gradient-from: #242323;
  --color-gradient-to: #000000;
  
}
