:root {
  /* Core Color Variables - Light Theme */
  --color-bg: #e3f2f4;
  --color-bg-secondary: #d6e5ff;
  --color-card: #f9ffff;
  --color-primary: #2563EB;
  --color-primary-hover: #0d3bba;
  --color-text:#000000;
  --color-text-secondary: #3d4043;
  --color-text-muted: #777b81;
  --color-border: #7ba9d2;
  --color-border-hover: #3b71c2;
  --color-input: #d5dced;
  --color-focus: #55a7ee;
  --color-focus-ring: rgba(23, 103, 232, 0.2);
  
  /* State Colors */
  --color-success: #22ff44;
  --color-warning: #ebe536;
  --color-error: #d31111;
  --color-destructive: var(--color-error);
  
  /* Component Colors */
  --color-muted: #cfe3fa;
  --color-muted-foreground: #424044;
  --color-accent: #F59E0B;
  --color-accent-foreground: #0f172a;
  
  /* Gradient Colors #e0f2fe */
  --color-gradient-from: #0d68c2;
  --color-gradient-to: #af0345;
  
  /* Theme tokens used by Tailwind */
  --background: var(--color-bg);
  --background-secondary: var(--color-bg-secondary);
  --foreground: var(--color-text);
  --card: var(--color-card);
  --border: var(--color-border);
  --input: var(--color-input);
  --ring: var(--color-focus);
  --primary: var(--color-primary);
  --secondary: var(--color-muted);
  --accent: var(--color-accent);
  --muted: var(--color-muted);
  --muted-foreground: var(--color-muted-foreground);
  --accent-foreground: var(--color-accent-foreground);
  --destructive: var(--color-destructive);
  --success: var(--color-success);
  --warning: var(--color-warning);
  --error: var(--color-error);
}

.dark {
  /* Core Color Variables - Dark Theme */
  --color-bg: #1e1e1e;
  --color-bg-secondary: #2c2c2d;
  --color-card: #2d2d2d;
  --color-text: #cfd6dc;
  --color-text-secondary: #b5b7b9;
  --color-text-muted: #94a3b8;
  --color-primary: #044cb8;
  --color-primary-hover: #1391ad;
  --color-border: #334155;
  --color-border-hover: #475569;
  --color-input: #1e293b;
  --color-focus: #60a5fa;
  --color-focus-ring: rgba(96, 165, 250, 0.2);
  
  /* State Colors - Dark versions */
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #f87171;
  --color-destructive: var(--color-error);
  
  /* Component Colors - Dark versions */
  --color-muted: #444345;
  --color-muted-foreground: #c7cacd;
  --color-accent: #0c65ea;
  --color-accent-foreground: #bed319;
  
  /* Gradient Colors - Dark versions */
  --color-gradient-from: #242323;
  --color-gradient-to: #000000;
  
}
